.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(230, 230, 230);
}

.header {
  font-size: 36px;
}

.btn {
  background-color: aqua;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
}
/* 
.btn__no {
  position: absolute;
} */
